@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Manrope, "Segoe UI", sans-serif;
  background: #f8fafc;
  color: #0f172a;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
